.top-bar {
	border-bottom: 7px solid $color-primary;
	padding: 0 25px;
}

.top-bar, .top-bar ul {
	background: $color-secondary;
}

.top-bar a {
	font-size: 14px;
	color: white;
	font-weight: $font-semi-bold;
}

.menu > li > a {
	line-height: 1;
	padding: 0.5rem 0.35rem;
}

.menu > li.menu-text {
	padding-left: 0;
	padding-top: 17px;
}

.menu.vertical > li.menu-item, .menu > li.menu-text {

}

.menu.vertical > li:hover {
	background-color: $color-secondary-dark;
}

// Dropdown Menu
.dropdown.menu .submenu {
	border: none;
}

.dropdown.menu .submenu > li {
	background-color: $color-secondary;
}

.dropdown.menu .submenu > li:hover {
	background-color: $color-secondary-dark;
}

.dropdown.menu .is-dropdown-submenu-parent a::after {} // triangle 'box'

.dropdown.menu .is-dropdown-submenu-parent.is-right-arrow > a::after {
	border-color: transparent transparent transparent #fff;
}

// We are trying to achieve:
// 1. Title left (reduced in size for mobile?)
// 2. 'Menu' right on same level as title
// 3. Dark background and  white text
// 4. Slightly darker overlay on hover? 
// 4. Icons for all? or just instagram?
// 5. Make this universal so we can ship to other sites and becomes defacto?
// 6. Added new div for texture and applied dark colour to body

// Off Canvas
.off-canvas {
	background-color: $color-secondary-dark;
	& a {
		color: white;
	}
}