section.block--instagram {
	margin-top: $margin-general;
	padding-left: $padding-general;
	padding-right: $padding-general;
	h3.title--home-areas {
		font-size: 250%;
		text-align: center;
		margin-top: $padding-small/4;
		margin-bottom: $padding-small/2;	
		font-family: $font-display;
	}
}