// Mixin: Default Transition eg. Link
 @mixin transition-default {
	transition-property: all;
  	transition-duration: 0.2s;
  	transition-timing-function: ease-in;
} 

@mixin title-default {
	text-transform: uppercase;
	letter-spacing: $letter-spacing;
}